@font-face {
  font-family: 'Roboto', sans-serif;
font-family: 'Raleway', sans-serif;
}
.buttons {
	margin-left: 3px;

	margin: 1%;
	 background-color: #FD4C52;
    border: none;
    color: #293DA1;
	border-radius: 20px;
    padding: 10px;
	width: 20px;
	min-width: 100px;
	font-weight: bold;
	font-family: "Raleway";
    text-align: center;
    font-size: 25px;
    cursor: pointer;

	-webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
}
.paragraph {
		font-family: "Raleway";
	text-align: center;
	    font-size: 30px;
	margin-left: 20%;
	margin-right: 20%;
}
.hack {
	font-size: 15px;
	-webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */      
	visibility: hidden;
}
.title {
	
    color: #FD4C52;


	font-weight: bold;
	font-family: "Roboto";
    text-align: center;
    font-size: 30px;

	-webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
}
.subtitle {
	
    color: #6E42DA;


	font-weight: bold;
	font-family: "Raleway";
    text-align: center;
    font-size: 30px;

	-webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
}

.overlay{
  position:fixed;
   background:url(background.png);
  -webkit-animation:100s scroll infinite linear;
  -moz-animation:100s scroll infinite linear;
  -o-animation:100s scroll infinite linear;
  -ms-animation:100s scroll infinite linear;
  animation:100s scroll infinite linear;
  top:0;
  left:0;
  width:100%;
 height:100%;
	 z-index: -10;
}




@-webkit-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-moz-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-o-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}


@keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

.float1 {
	
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
	
}

@keyframes float {
	0% {
		
		transform: translatey(2px);
	}
	50% {
	
		transform: translatey(-2px);
	}
	100% {
		
		transform: translatey(2px);
	}
	

}

.float2 {
	
	transform: translatey(0px);
	animation: float2 6s ease-in-out infinite;

}

@keyframes float2 {
	0% {
		
		transform: translatey(-2px);
	}
	50% {
	
		transform: translatey(2px);
	}
	100% {
		
		transform: translatey(-2px);
	}
}

div.gallery {
  border: 10px solid #ccc;
	border-radius: 25;
	font-family: "Raleway";
   flex: 75%;
    max-width: 75%;
  padding: 0 5px;
}

div.gallery:hover {
  border: 10px solid #777;
	border-radius: 25;
}

div.gallery img {
  width: 100%;
  height: auto;
	border-radius: 25;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}