.main {
    height: 200px;
    width: 400px;
   	position: fixed;

	float: left;

}

@media only screen and (max-width : 674px ){
    /* For mobile phones: */
    body {
 
	 position: absolute;
	right:8%;
	left:5%;
	margin:auto;
    }
}
@media only screen and (max-width : 456px ){
    /* For mobile phones: */
    
	body {
 
	 position: absolute;
	right:-8%;
	left:-10%;
	margin:auto;
    }
	
}

.buttons {
	margin-left: 1px;
	margin-top: 20px;
	margin: 2%;
	 background-color: #000000;
    border: none;
    color: #EE2148;
	border-radius: 10px;
    padding: 35px;
	width: 180px;
	min-width: 100px;
	font-weight: bold;
	font-family: "Arial";
    text-align: center;
    font-size: 20px;
    cursor: pointer;
	float:left;
	float:right;
	
}

.st0,.st1,.st2,.st3{
	stroke:#EE2148
	
}
.langswitch{
	
	 background-color: #000000;
    border: none;
    color: #EE2148;
	border-radius: 10px;
    padding: 21px 0px;
	list-style: none;
	max-width: 50px;
	min-width: 70px;
	min-length: 50px;
	max-length: 50px;
	font-weight: bold;
	font-family: "Arial";
    text-align: center;
    font-size: 20px;
    cursor: pointer;
	vertical-align: right;
	display:inline;
	margin-left: 1%;
	margin-right: 3%;
	float:right;
	margin-top:4%;
		
}
