h1{
  text-align: center;
}
.mainbutton {
	color: black;
 	 border: 2px solid #3fa9f5;
	text-align: center;
	font-family:ITCFranklinGothicBookCmpr;
	font-size: 35px;
	padding-top: 15px;
  	padding-right: 15px;
 	padding-bottom:7px;
 	padding-left: 15px;
	background-color: rgba(76, 175, 80, 0);
	 
	width: 135px;
	length: 10px;
	src: url("fonts/FranklinGothic-BookCmpr.woff") format("woff");

	

}
div {
  display:flex;
  justify-content:space-around;
	white-space: nowrap;
	
}



.b1:hover,.b2:hover,.b3:hover,.b4:hover {
}html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
	
}
@font-face {
  font-family: ITCFranklinGothicBookCmpr;
  src: url("fonts/ITCFranklinGothicBookCmpr.woff");
}
@media (max-width: 1000px) {

      html,body {
            zoom: .7; 
       }

}